:root {
	--accent: antiquewhite;
	--colorBtn: #e9d2bd;
}
* {
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--accent);
	height: 100vh;
	display: flex;
	justify-content: center;
	padding: 32px;
	font-size: 18px;
	font-weight: 300px;
}

.app {
	padding: 32px;
	background-color: white;
	width: 90vw;
	border-radius: 16px;
}

.todoNew {
	--size: 50px;
	display: flex;
	margin: 16px 0 32px;
}

.input {
	border: 1 solid grey;
	font-size: 18px;
	margin-right: 16px;
	padding: 8px 16px;
	height: var(--size);
	border-radius: 6px;
	flex-grow: 1;
}

.btnAdd {
	height: var(--size);
	width: 23%;
	background: var(--colorBtn);
	text-align: center;
	font-size: 18px;
	border: 1 solid grey;
	border-radius: 6px;
	cursor: pointer;
}

.todoList {
	border: 2px solid antiquewhite;
	border-radius: 6px;
	background-color: var(--accent);
	padding: 12px 8px 12px 40px;
	font-size: 16px;
	list-style-type: none;
}

.todoTask {
	margin-bottom: 8px;
	margin-top: 8px;
	display: flex;
	/* outline: 1px solid red; */
	align-items: center;
	cursor: default;
}

.todoTaskText {
	font-size: 22px;
	width: 90%;
}

.todoCheckBox {
	margin-right: 16px;
	cursor: pointer;
}

.btnDelete {
	float: right;
	height: var(--size);
	width: var(--size);
	background: rgb(241, 187, 187);
	text-align: center;
	font-size: 18px;
	border: 1 solid grey;
	border-radius: 6px;
	cursor: pointer;
	--size: 40px;
}

.btnChange {
	float: right;
	height: var(--size);
	width: var(--size);
	background: var(--colorBtn);
	text-align: center;
	font-size: 18px;
	border: 1 solid grey;
	border-radius: 6px;
	cursor: pointer;
	--size: 40px;
}

.btnSorting {
	margin-bottom: 18px;
	padding: 10px;
	width: 50%;
	background: #e9d2bd;
	color: #555;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	border-radius: 6px;
}
